proposal.acn
proposal.acr
proposal.alg
proposal.aux
proposal.bbl
proposal.blg
proposal.glg
proposal.glo
proposal.gls
proposal.ist
proposal.lof
proposal.log
proposal.lot
proposal.out
proposal.pdf
proposal.synctex.gz
proposal.toc
Boneyard/
Graphics/Diagrams/Oven/
Graphics/Diagrams/Graphs/*.pdf*
*.log
